<ul class="list-inline shop-top-menu pb-3 pt-1">
    <li class="list-inline-item">
        <a class="h3 text-dark text-decoration-none mr-3" href="{% url 'shop' %}">All</a>
    </li>
    <li class="list-inline-item">
        <a class="h3 text-dark text-decoration-none mr-3" href="{% url 'categories_page' slug='menclothes' %}">Men's</a>
    </li>
    <li class="list-inline-item">
        <a class="h3 text-dark text-decoration-none" href="{% url 'categories_page' slug='womenclothes' %}">Women's</a>
    </li>
    <li class="list-inline-item">
        <a class="h3 text-dark text-decoration-none" href="{% url 'categories_page' slug='gadgets' %}">Gadgets</a>
    </li>

</ul>
